@model MvcApp.ViewModels.Courses.CourseViewModel
@{
    ViewData["Title"] = "Kurse Information";
}
<link rel="stylesheet" href="~/css/course-details.css">


<article>
    <section class="wrapper">
        <h2>@ViewData["Title"]</h2>
        <div class="course-description">
            <div><h4>Kurs Nummer:</h4> @Model.Id</div><hr>
            <div><h4>Kurs Titel:</h4> @Model.Title</div><hr>
            <div><h4> Kategori:</h4> @Model.Subject</div><hr>
            <div><h4>Längd:</h4> @Model.CourseDuration</div><hr>
            <div><h4> Detalj:</h4> @Model.Details</div>
            <hr>
            <h4>Beskrivning:</h4>
            <p>@Model.Description</p>
            <a class="go-back" asp-controller="Categories" asp-action="Index"><i class="fa-solid fa-left-long"></i>Tillbaka till kurser</a>
        </div>
    </section>
</article>