@model MvcApp.ViewModels.Courses.CourseViewModel
@{
    ViewData["Title"] = "Kurse Information";
}
<link rel="stylesheet" href="~/css/course-details.css">

<h2>@ViewData["Title"]</h2>
<article >
<section class="wrapper">
  <div class="course-description">
    <div>Kurs Nummer @Model.Id</div>
    <div>Kurs Titel @Model.Title</div>
    <div>Kategori @Model.Subject</div>
    <div>Längd @Model.CourseDuration</div>
    <h3> Detalj @Model.Details</h3>
    <hr>
    <h4>Beskrivning</h4>
    <p>@Model.Description</p>
    <a class="go-back" a asp-controller="Categories" asp-action="Index"><i class="fa-solid fa-left-long"></i>Tillbaka till kurser</a>
    </div>
  </section>
</article>