@model IEnumerable<MvcApp.ViewModels.Courses.CourseByCategoryViewModel>
@{
    @* ViewData["Title"] = "Våra IT-kurser"; *@
    ViewBag.PageTitle = "Start";
}
<link rel="stylesheet" href="~/css/course-card.css">
<h1>@ViewData["Title"]</h1>

<article>
    <section class="gallery-courses">

        @foreach (var course in Model!)
        {


            <div class="course-card">
                <table>
                    <h2>@course.Subject</h2>
                    <tr>
                        <td>Kurs nummer: </td>
                        <td>@course.Id </td>
                    </tr>
                    <tr>
                        <td>Title:</td>
                        <td>@course.Title </td>
                    </tr>
                    <tr>
                        <td>Längd: </td>
                        <td>@course.Duration</td>
                    </tr>
                </table>



                <button class="btn"><a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">Detalj</a></button>
            </div>
        }
    </section>
</article>